@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Source+Sans+3:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3';
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: url(fondo_login.jpg) no-repeat; */
    background-color: #181c36;
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo-text{
    font-size: 26px;
    color: #fff;
    user-select: none;
    margin-right: 40%;
}

.logo{
    width: 8%;
}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navigation .btnLogin-popup:hover{
    background: #fff;
    color: #162938;
}


.shadow{
    border: 2px solid black;
    height: 20px;
    width: 100%;
    background-color: black;
}
.about{
    background-color: #ffffff;
    border: 2px solid black;
    padding: 10px;
    box-shadow: 10px 10px 5px #663759;
}

.about h2{
    font-size: 2em;
}
.about p{
    font-size: 19px;
}

.start{
    margin-top: 10%;
    text-align: center;
}
.start a{
    border: 2px solid white;
    background: #420b2b;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
}
.start a:hover{
    background: var(--clr);
    transform: scale(1.5);
    box-shadow: 0 0 35px var(--clr);
}
.start a span{
    z-index: 1;
}

/* ---------------------Create-List------------------------- */
.import-content{
    margin-top: 8%;
    border: 2px solid black;
    background-color: #ffffff;
    padding: 28px;
    text-align: center;
    backdrop-filter: blur(20px);
    overflow: hidden;
    box-shadow: 0 0 30px rgb(0, 0, 0, .5);
    width: 30%;
    
}
.import-content h2{
    font-size: 30px;
}

.import-content form{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.import-content form label{
    text-align: left;
    margin-top: 10%;
}

.import-content form .btn-list{
    letter-spacing: 1px;
    margin-top: 10%;
    width: 40%;
    align-self: center;
    border: none;
    padding: 10px;
    background-color: #420b2b;
    color: #fff;
    border-radius: 10px 10px;
    transition: .5s;
}
.import-content form .btn-list:hover{
    cursor: pointer;
    background-color: #663759;
    transform: scale(.9);
}

/*--------------------View-List-----------------*/
#colorDiv{
    width: 100%;
    height: 20px;
}
/* Tu CSS existente */

#list {
    border: 3px solid #ffffff;
    background: white;
    padding: 15px;
    position: relative; 
}

#checkInput {
    display: inline-block;
    vertical-align: middle; 
    margin-left: 10px; 
    width: 20px;
    height: 20px;
}

#name {
    display: inline-block; 
    vertical-align: middle;
}


#desp {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%; 
}

#buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

#buttons button {
    margin-left: 10px;
    padding: 8px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

#buttons button:hover {
    background-color: #2980b9;
}
